{% extends 'ticketing/_base_page.html' %}

{% block title %} ثبت فیش پرداختی جدید {% endblock %}

{% block main_content %}


  <div class="container">
    <form method="post">
      {% csrf_token %}
      <div class="row">
        {% for field in form %}
          <div class="col-2"> {{ field.label }} </div>
          <div class="col-5"> {{ field }} </div>
          <div class="col-4"> {{field.errors}} </div>
        {% endfor %}
      </div>

      {#        {{ form.as_p }}#}
      <button type="submit" class="btn btn-primary btn-block btn-sm"> ثبت </button>
    </form>
  </div>

  {% if form.non_field_errors %}
    <div class="container">
      <div class="alert alert-warning"> {{ form.non_field_errors }} </div>
    </div>
  {% endif %}

{% endblock %}